{% extends 'layouts/base.twig' %}

{% block title %}Top{% endblock %}

{% block container %}
    <h1>Top</h1>

    <div class="section">
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
