{% extends 'layouts/base.twig' %}

{% block title %}Top{% endblock %}

{% block container %}
    <h1>Rich Menu</h1>

    {% if error %}
        {% include 'messages/error.twig' with {message: error} %}
    {%  endif %}

    <div class="section">

        {% if menus.length > 0 %}
        <ul class="collection">
            {% for menu in menus %}
            <li class="collection-item" menu-id="{{ menu.richMenuId }}">
                <div class="clearfix">
                    <div class="chip blue darken-3 white-text copy-clip rich-menu-id tooltipped" data-tooltip="Copy clipboard">{{ menu.richMenuId }}</div>
                    <span>{{ menu.name }}</span>
                    <button type="button" class="waves-effect waves-light green btn right detail-btn ml-2 tooltipped" data-tooltip="Open detail">
                        <i class="material-icons">remove_red_eye</i>
                    </button>
                    <button type="button" class="waves-effect waves-light blue btn right default-btn ml-2 tooltipped" data-tooltip="Set default">
                        <i class="material-icons">done</i>
                    </button>
                    <button type="button" class="waves-effect waves-light red btn right delete-btn tooltipped" data-tooltip="Remove">
                        <i class="material-icons">delete</i>
                    </button>
                    {% if menu.richMenuId == defaultMenuId %}
                        <span class="badge mr-3 z-depth-1">default</span>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            {% include 'messages/error.twig' with {message: 'no data'} %}
        {% endif %}
    </div>

    <form id="delete-form" method="post" action="delete">
        <input type="hidden" name="id" value="">
    </form>

    <form id="default-form" method="post" action="default">
        <input type="hidden" name="id" value="">
    </form>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large orange tooltipped" href="menu" data-tooltip="Create" data-position="top">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div id="detail-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="center">
                <img src="" alt="menu image">
            </div>
            <pre class="menu z-depth-3"></pre>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                <i class="material-icons">close</i>
                close
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/richmenus.js"></script>
{% endblock %}
