<div class="row alert-box">
    <div class="col s12 m12">
        <div class="card red lighten-2">
            <div class="row">
                <div class="col s12 m10">
                    <div class="card-content white-text">
                        <p>{{ message|nl2br }}</p>
                    </div>
                </div>
                <div class="alert-close">
                    <i class="material-icons">close</i>
                </div>
            </div>
        </div>
    </div>
</div>
