<div class="navbar-fixed">
    <nav class="green darken-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">
                LINE Messaging API Tools
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Top</a></li>
                <li><a href="/richmenu/menus">Rich Menu</a></li>
                <li>
                    <i class="material-icons left">tv</i><span>{{ channel_name }}</span>
                </li>
                <li>
                    <a href="#" class="setting-btn">
                        <i class="material-icons">settings</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
